
.outer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--color-yellow);
    background-image: url("../../assets/advantages/advantages-bg.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
}

.outer h2{
    max-width: 12ch;
    margin: 0 auto;
    font-family: var(--font-primary);
    font-size: var(--heading-h3-size);
    font-weight: var(--font-weight-bold);
    line-height: 3rem;
    letter-spacing: var(--heading-h3-letter-spacing);
    text-align: center;
}

.container{
    box-sizing: border-box;
    width: calc(100% - (2 * var(--page-padding-inline)));
    max-width: 30rem;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.container > :not(:first-child) {
    position: relative;
    z-index: 1;
    margin-top: -2rem;
}

@media (min-width: 1024px) {
    .outer {
        gap: 0;
        background-image: none;
        background-image: url("../../assets/advantages/advatages-bg-desctop.png");
        background-position: center;
    }

    .outer h2 {
        max-width: 15ch;
        position: relative;
        z-index: 1;
        margin-bottom: clamp(-1rem, -1vw, 0rem);
        font-size: clamp(var(--heading-h3-size), 4vw, var(--heading-h1-size));
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        width: 100%;
        max-width: var(--desktop-content-max-width);
        padding: 4rem 5.5%;
        gap: clamp(0.5rem, 1vw, 1rem);
        background-size: 100% 100%;
        background-position: center;
    }

    .container > :not(:first-child) {
        margin-top: 0;
    }

    .container > :nth-child(n + 4) {
        margin-top: clamp(-4rem, -4vw, -3rem);
        z-index: 5;
    }
}

@media (min-width: 1440px) {
    .outer {
        background-image: url("../../assets/advantages/advatages-bg-desctop.png");
        background-size: 100% auto;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .container{
        background-image: none;
    }
}
