
.actionsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--page-gap);
}

.actionsContainer > :first-child {
    flex: 1 1 20rem;
}

.actionsContainer > :last-child {
    flex: 0 1 12rem;
}
