:root {
    font-size: 100%;
    --page-gutter: clamp(1rem, 2vw, 2rem);
    --page-gap: clamp(1rem, 1.6vw, 1.5rem);
    --content-max-width: 90rem;
    --card-gap: clamp(1rem, 1.2rem, 1.5rem);
    --card-max-width: 23rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-width: 20rem;
}

body {
    margin: 0;
}
